.application_wrapper{
    background: url('/images/careers/application-bg.png'), var(--fgi-red);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 308px;
    border-radius: 30px;
    position: relative;
    /* margin-top: 62px; */
    /* margin-bottom: 80px; */
    padding: 40px 160px;
    text-align: center;
}

.form_callback{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

@media screen and (max-width: 991.2px) and (min-width: 320px) {
    .application_wrapper{
        background: var(--fgi-red);
        min-height: 306px;
        margin-top: 0px;
        margin-bottom: 40px;
        padding: 32px 15px;
        text-align: center;
    }
    .form_callback{
        flex-wrap: wrap;

    }

    .form_callback input{
        width: 100%;
    }
    
    .form_callback button{
        border: 1px solid transparent;
    }

}