.investPlan_bg{
    background: url('/images/contact-us/bg-invest.png'), var(--fgi-red);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 484px;
    border-radius: 30px;
    position: relative;
    margin-top: 62px;
    margin-bottom: 80px;
}

.investPlan_bg::after{
    position: absolute;
    content:  url('/images/contact-us/bg-phone.png');
    top: -62px;
    right: 132px;
}


.investPlan_main{
    padding: 37.5px 0px 37.5px 64px;
    max-width: 645px;
    width: 100%;
}

.investPlan_main h3{
    font-family: "Roboto-900";
    font-size: 51px;
    line-height: 66px;
    color: var(--background-color);
}

.form_applink{
    max-width: 396px;
    width: 100%;
    padding: 40px 0px 32px 0px;
}

.form_applink label{
    font-family: "Roboto-400";
    font-size: 16px;
    line-height: 24px;
    color: var(--background-color);
    margin-bottom: 12px;
}

.applink_main{
    border: 1px solid var(--border-grey);
    border-radius: 32px;
    background: var(--fgi-whitegray);
    padding: 4px 4px 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_control{
    background: transparent;
    border: none;
    font-family: "Roboto-400";
    font-size: 16px;
    line-height: 24px;
    color: var(--background-color);
  }

  .form_control:focus-visible{
    border: none;
    outline: none; 
  }

  .form_control::placeholder {
    font-family: "Roboto-400";
    font-size: 16px;
    line-height: 24px;
    color: var(--background-color); /* Optional: Set a placeholder color */
}

.scanner_links{
    display: flex;
    align-items: center;
    gap: 24px;
}

.links_btn{
    background: transparent;
    border: none;
    margin-left: 24px;
}

.links_wrapper{
    border-left: 1px solid var(--border-grey);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {

    .investPlan_bg::after{
        right: 0px;
    }

    .investPlan_bg{
        background-position: right;
    }


}


@media screen and (max-width: 991px) and (min-width: 320px) {

    .investPlan_bg{
        background: url('/images/contact-us/bg-invest-mob.png'), var(--fgi-red);
        background-position: right;
        background-repeat: no-repeat;
        margin-top: 0px;
        margin-bottom: 80px;
        z-index: 10;
    }

    .investPlan_main{
        padding: 20px 16px 0px 16px;
        max-width: unset;
        width: 100%;
        margin-top: 40px;
    }

    .investPlan_main h3{
        font-family: "Roboto-800";
        font-size: 28px;
        line-height: 36px;
    }

    .form_applink{
        max-width: unset;
        width: 100%;
        padding: 12px 0px 32px 0px;
    }

    .scanner_links{
        flex-direction: column;
        max-width: 105px;
        gap: 12px;
        align-items: flex-start;
    }

    .form_control{
        font-size: 12px;
      }
    
      .form_control:focus-visible{
        border: none;
        outline: none; 
      }
    
      .form_control::placeholder {
        font-size: 12px;
    }

    .investPlan_bg::after{
        position: absolute;
        content:  url('/images/contact-us/bg-phone-mob.png');
        top: 250px;
        right: 0px;
        z-index: -1;
    }

    .scanner_links > div > img{
        width: 59px;
    }
    .links_btn{
        margin-left: 0px;
    }
    .links_btn img{
        width: 101px;
    }

    .links_wrapper{
        border-left: 0px;
        border-top: 1px solid var(--border-grey);
        padding-top: 12px;
        gap: 12px;
    }

}