

.insure_title{
    font-size: 20px;
    line-height: 28px;
    font-family: 'Roboto-500';
    color: var(--text-grey2);
    text-transform: uppercase;
    margin-bottom: 12px;
    font-weight: 500;
}

.insure_main {
    align-items: center;
    justify-content: space-between;
}

.insure_btn{
    display: flex;
    gap: 16px;
}

.insure_imgsrc img{
    border-radius: 4px;
}

.genrali_wrapper {
    display: flex;
    align-items: center;
    background: var(--fgi-red);
    border-radius: 4px;
    padding: 30px;
    position: relative;
    justify-content: space-between;
    margin: 146px 0px 0px 0px;
}

.genrali_wrapper img {
    position: absolute;
    top: -40px;
    left: 14px;
}

.genrali_wrapper p {
    font-size: 20px;
    line-height: 28px;
    font-family: 'Roboto-400';
    color: var(--background-color);
    padding: 11px 0px;
}

.insure_imgsrc img {
    width: 100%;
}


@media screen and (max-width: 991.2px) and (min-width: 320px) {

    .insure_title{
        font-size: 14px;
        line-height: 18px;
    }

    .insure_wrapper{
        padding: 24px 0px;
    }

    .insure_imgsrc{
        text-align: center;
    }
    
    .insure_imgsrc img{
       width: 100%;
       margin-top: 16px;
       height: 176px;
       object-fit: cover;
       object-position: top;
    }
    .insure_btn{
        justify-content: center;
        align-items: center;
    }

    .genrali_wrapper {
        flex-wrap: wrap;
        gap: 16px;
        padding: 62px 16px 24px 16px;
        margin: 60px 0px 0px 0px;
        /* margin: 0px 0px 56px 0px; */
    }

    .genrali_wrapper img {
        width: 170px;
        left: 0px;
    }
    
    .genrali_wrapper p {
        font-size: 16px;
        line-height: 24px;
        padding: 0px;
    }
}