.team_member_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensures content does not exceed the screen */
}

.team_slider_parent{
    padding: 24px 12px;
}

.team_slider {
    box-shadow: 2px 2px 20px 0px rgba(160, 160, 160, 0.25);
    background-color: var(--background-color);
    border-radius: 32px;
    padding: 24px;
    /* margin: 40px 50px 10px 50px; */
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* max-width: 324px; */
    width: 100%;
}

.team_slider img {
    min-height: 56px;
}

.team_slider .team_feedback {
    font-family: "Helvetica-500";
    font-size: 18px;
    line-height: 28px;
    color: var(--fgi-black);
    padding: 20px 20px 20px 0px;
    height: 180px;
}

.member_name label {
    font-family: "Helvetica-500";
    font-size: 16px;
    line-height: 24px;
    color: var(--fgi-black2);
}

.no_reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

.no_reviews p{
    font-family: "Helvetica-500";
    font-size: 16px;
    line-height: 24px;
    color: var(--fgi-black2);
}

@media screen and (max-width: 991.2px) and (min-width: 320px) {

    /* .team_slider {
        margin: 40px 105px; 
        max-width: 198px;
    } */

    .team_slider .team_feedback {
        font-family: "Helvetica-400";
        font-size: 12px;
        line-height: 16px;
        padding: 14px 0px 14px 0px;
        height: 100px;
    }

    .member_name label {
        font-family: "Helvetica-500";
        font-size: 12px;
        line-height: 16px;
        color: var(--fgi-black2);
    }

}