.growth_plan_main {
    padding-bottom: 24px;
    width: 100%;
}

.fgli_plan_section {
    display: flex;
    gap: 24px;
}

.growth_plan_card {
    border: 1px solid #16014333;
    box-shadow: 0px 0px 25px 0px #1822BD26;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.growth_plan_quote {
    text-align: center;
}

.growth_plan_quote>div {
    padding: 24px 0px;
}

.growth_plan_quote h5 {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Helvetica-700';
    color: var(--fgi-black);
}

.growth_plan_quote p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica-400';
    color: var(--text-grey);
    padding-top: 8px;
    max-width: 422px;
    margin: 0 auto;
}

.growth_plan_quote > img {
    height: 82px;
}

.quote_btn_div {
    text-align: center;
    order: 2;
}

.detail_box_wrapper{
    order: 3;
}

.get_quote_btn {
    max-width: 253px;
    width: 100%;
    text-align: center;
    color: var(--fgi-red) !important;
    text-decoration: none !important;
}

.detail_box {
    background: var(--background-grey);
    border-radius: 20px;
    padding: 16px 24px;
    margin-top: 24px;
}

/* .detail_box:not(:last-child) {
    margin-bottom: 24px;
} */

.detail_box span {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Helvetica-700';
    color: var(--fgi-black);
}

.detail_box p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica-500';
    color: var(--fgi-black);
    margin-top: 16px;
}

.detail_box p small {
    font-family: 'Helvetica-300';
}













.common_point_wrapper {
    border: 1px solid var(--fgi-borderdarkgrey);
    box-shadow: 0px 0px 25px 0px var(--fgi-faqShadow);
    padding: 32px 24px;
    border-radius: 24px;
}

.common_point_row {
    gap: 20px 0px;
}

.common_point_wrapper p {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Helvetica-500';
    color: var(--text-grey2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 24px;
}

.common_point_wrapper .common_point_card p {
    font-family: 'Helvetica-400';
    justify-content: left;
    min-height: 40px;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 0px;
}

.common_point_card {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    height: 100%;
}

.point_description span {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica-500';
    color: var(--fgi-black);
}


@media screen and (max-width: 991.2px) and (min-width:320px) {


    .fgli_plan_section {
        display: block;
        gap: 0px;
    }

    .growth_plan_main {
        padding-right: 14px;
        height: 100%;
    }

    .growth_plan_card {
        padding: 24px 16px 86px 16px;
        box-shadow: 0px 12px 16px 0px #C21B1714;
        border: 1px solid #C21B174D;
        border-radius: 20px;
        height: 100%;
        justify-content: flex-start;
        position: relative;
    }

    .growth_plan_quote {
        text-align: left;
    }

    .growth_plan_quote>div {
        padding-top: 12px;
        padding-bottom: 0px;
    }

    .growth_plan_quote h5 {
        font-size: 20px;
        line-height: 28px;
    }

    .growth_plan_quote p {
        font-size: 14px;
        line-height: 20px;
    }

    /* .quote_btn_div {
        margin-top: 24px;
        order: 1;
    } */

    .get_quote_btn {
        max-width: unset;
    }

    .detail_box {
        padding: 16px;
        margin-top: 16px;
    }

    .detail_box p {
        font-family: 'Helvetica-400';
        margin-top: 8px;
    }

    .quote_btn_div {
        position: absolute;
        bottom: 24px;
        width: calc(100% - 32px);
    }
    
    .detail_box_wrapper{
        order: 2;
    }





    .common_point_wrapper p {
        padding: 0px;
    }

    .common_point_wrapper .common_point_card p {
        min-height: 0px;
    }

    .common_point_wrapper {
        padding: 24px 16px;
    }

}