.chatboat_cotainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.Home_banner_chatbot{
    background: linear-gradient(360.05deg, #FFDBDB 17.16%, #FF816D 74.48%);
    border-radius: 10px;
    padding: 4px;
}

.chatboat_cotainer.visible {
    opacity: 1;
    visibility: visible;
}

.Home_banner_innerbot{
    background-color: var(--background-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Home_banner_innerbot img{
    width: 100%;
    max-width: 150px;
    height: 168px;
    border-radius: 6px;
    padding-top: 15px;
    object-fit: cover;
}

.chabot_title{
    background: #ffdbdb;
    width: calc(100% - 36px);
    border-radius: 10px 10px 0px 0px;
    padding: 4px 7px 0px 7px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.chabot_title::before{
    position: absolute;
    content: '';
    width: 12px;
    height: 8px;
    background: radial-gradient(180% 180% at left -65% top -65%, transparent 99%, #ffdbdb);
    transform: rotate(0deg);
    left: -11px;
    bottom: 0px;
}

.chabot_title::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 8px;
    background: radial-gradient(180% 180% at right -65% top -65%, transparent 99%, #ffdbdb);
    transform: rotate(0deg);
    right: -11px;
    bottom: 0px;
}

.chabot_title p{
    font-size: 10px;
    line-height: 10px;
    font-family: 'Helvetica-500';
    color: var(--fgi-black);
}

.chabot_title a{
    display: flex;
    align-items: center;
    font-size: 8px;
    line-height: 8px;
    font-family: 'Helvetica-500';
    color: var(--fgi-red) !important;
    gap: 4px;
    text-decoration: none;
}

.chabot_title a img{
    width: unset;
    height: unset;
    padding: 0px;
}

