
.cms-data {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Helvetica-400';
    color: var(--text-grey2);
}

.cms-data span{
    padding :12px 0px;
    display: inline-block;
}

.cms-data span a{
    text-decoration: underline !important;
    color: var(--fgi-red) !important;
}

.cms-data ul{
    padding-left: 24px;
}

.cms-data ul li{
    position: relative;
}

.cms-data ul li:not(:last-child){
    padding-bottom: 12px;
}

.cms-data ul li::before{
    position: absolute;
    content: '';
    width: 12px;
    height: 5px;
    transform: skew(310deg);
    background: var(--fgi-red);
    top: 6px;
    left: -24px;
}

.cms-data a {
    color: var(--fgi-red);
    text-decoration: underline;
}

@media screen and (max-width: 991.2px) and (min-width: 320px) {
    .cms-data ul li{
       font-size: 12px;
       line-height: 18px;
    }

    .cms-data ul li::before{
        width: 10px;
        height: 4px;
        left: -22px;
    }

    .cms-data ul {
        padding-left: 16px;
    }
    
}