/* common styles  */

body {
    font-family: "Roboto-400";
    background: var(--background-color);
}

body.over-hide {
    overflow-y: hidden;
}

.container {
    max-width: 1246px !important;
    width: 100%;
    margin: 0 auto;
}

/* common padding */
.pd-t {
    padding-top: 56px;
}

.pd-b {
    padding-bottom: 56px;
}

/* Common Popup css */


.common_popup_wrapper.modal-dialog {
    width: auto;
    max-width: unset;
    justify-content: center;
    border: none;
}

.common_popup_wrapper .modal-content {
    width: auto !important;
    height: unset !important;
    border: none !important;
}

.common_popup_wrapper {
    --bs-modal-bg: transparent;
    border: none;
}

/* Common Buttons */

.redBtn {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto-700';
    font-weight: 700;
    background: linear-gradient(180deg, #AF2219 0%, #C21B17 100%);
    color: var(--background-color);
    text-decoration: none;
    padding: 10.5px 22px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lowercase-text {
    text-transform: lowercase;
}

.capitalize-text {
    text-transform: capitalize;
}

.redBtn:disabled {
    background: linear-gradient(180deg, #ffbfba -40%, #C21B17 100%);
}

.redborder.trasborder {
    border: 2px solid transparent;
}

.whiteBtn {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto-700';
    font-weight: 700;
    background: var(--background-color);
    color: var(--fgi-red);
    text-decoration: none;
    padding: 10.5px 22px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.redBtn:hover {
    color: var(--background-color);
}

.whiteBtn:hover {
    color: var(--fgi-red);
}

.whiteBtn.redborder {
    border: 2px solid var(--fgi-red)
}

.redArrowBtn {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto-500';
    background: var(--fgi-red);
    color: var(--background-color);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    outline: none;
}

.redArrowBtn span {
    margin-left: 4px;
}

.mt-negative {
    margin-top: -75px;
}

.guide-btn {
    background: none;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto-400';
    color: var(--fgi-black);
    padding: 0px;
    position: relative;
    /* padding-left: 25px; */
    text-align: left;
    font-weight: 400;
}

.guide-btn:not(:last-child) {
    padding-bottom: 12px;
}

/* .guide-btn::before {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: transparent;
    border: 1.2px solid var(--text-grey2);
    top: 4px;
    left: 0px;
}

.guide-btn.active::before {
    border: 5px solid var(--text-grey2);
    background: var(--background-color);
} */


.guide-btn::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -18px;
    width: 6px;
    height: 6px;
    border: solid var(--fgi-red);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
}


.home-guide-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.show-more {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto-500';
    color: var(--fgi-red);
    text-decoration: none;
    display: block;
    text-align: center;
}

.popupwhiteBtn,
.popupredBtn {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

/* Common Arrow */

.common-right-arrow {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto-500';
    font-weight: 500;
    color: var(--fgi-red);
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
}

.common-right-arrow::after {
    content: '';
    position: absolute;
    top: 14px;
    right: -12px;
    width: 5px;
    height: 5px;
    border: solid var(--fgi-red);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

.common-right-arrow:hover {
    color: var(--fgi-red);
}

/* Common Input fields */

.fgi-common-input {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto-400';
    color: var(--background-color);
    background: #ffffff45;
    border: 1px solid var(--border-grey);
    border-radius: 24px;
    padding: 12px 16px;
}


.fgi-common-input:focus {
    border: 1px solid var(--border-grey);
    outline: none;
}

.fgi-common-input::placeholder {
    font-size: 16px;
    color: var(--background-color);
}

/* Common links style css */

.redhref {
    font-size: 14px;
    line-height: 21px;
    font-family: 'Roboto-700';
    color: var(--fgi-red);
    text-decoration: none;
}

.common-label {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto-400';
    color: var(--text-grey2);
}

.pdp-bannermain .react-select-container .react-select__control {
    background: var(--background-lightpink);
}

.react-select-container .react-select__control {
    border-radius: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid var(--border-grey);
    box-shadow: none;
    font-family: "Roboto-500";
    font-weight: 500;
    font-size: 18px;
    line-height: 26.4px;
    padding: 12px 16px 0px 0px;
    padding-right: 32px;
    background: none;
    color:var(--fgi-black);
}

.react-select__placeholder {
    font-family: "Roboto-200";
    font-weight: 200;
    color: var(--placeholder-gray);
  }

.react-select-container .react-select__control:hover {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid var(--border-grey);
}

.react-select-container .react-select__value-container,
.react-select-container .react-select__input-container {
    padding: 0;
    margin: 0;
}

.react-select-container .react-select__input-container input#react-select-50-input {
    font-size: 18px !important;
    line-height: 28px;
    font-family: 'Roboto-300';
    font-weight: 300;
    color: var(--text-grey2);
}

.react-select-container .react-select__menu {
    border-radius: 4px;
    padding: 16px 6px 16px 16px;
}

.react-select-container .react-select__menu-list {
    max-height: 205px;
    overflow-x: hidden;
    padding-right: 6px;
}

.react-select-container .react-select__menu .react-select__option {
    padding: 8px 0px;
    border-bottom: 1px solid var(--fgi-grey);
    margin-right: 10px;
    color: var(--text-grey2);
    font-size: 14px;
    line-height: 19px;

}

.react-select-container .react-select__menu .react-select__option--is-focused {
    background-color: var(--fgi-redcard);
}

.react-select-container .react-select__menu .react-select__option--is-selected {
    background-color: transparent;
    color: var(--fgi-red);
    font-family: "Roboto-500";
}

/* .react-select-container .react-select__menu .react-select__option:hover{
    background-color: var(--fgi-grey);
}

.react-select-container .react-select__menu .react-select__option:active{
    background-color: var(--text-grey2);
} */


.dropdown-arrow .react-select-container .react-select__control::after {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    border: 2px solid var(--fgi-red);
    border-width: 0px 0px 2px 2px;
    top: 16px;
    right: 16px;
    transform: rotate(-45deg);
    transition: 0.2s;
}

.dropdown-arrow.disabled .react-select-container .react-select__control::after {
    border-color: var(--border-grey1);
}

.dropdown-arrow .react-select-container .react-select__control.react-select__control--menu-is-open::after {
    transform: rotate(135deg);
    top: 20px;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--fgi-grey);
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--fgi-red);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--fgi-grey);
}

.divider {
    border-bottom: 1px solid var(--background-color);
}

.star-svg {
    width: 20px;
}

/* Common Tabs css */
.common-tabs-wrapper .nav-tabs {
    justify-content: center;
    border-bottom: none;
}

.common-tabs-wrapper .nav-item {
    border-bottom: 1px solid var(--fgi-red);
    padding: 10px 20px;
}


.common-tabs-wrapper .nav-link {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Roboto-500';
    font-weight: 500;
    color: var(--text-grey2);
    /* margin: 0px 17px; */
    border: none;
    padding: 0px;
    cursor: pointer;
    /* border-bottom: 1px solid var(--fgi-red); */
}

.common-tabs-wrapper .nav-item.active {
    border-bottom: 3px solid var(--fgi-red);
}

.common-tabs-wrapper .nav-link:focus,
.common-tabs-wrapper .nav-link:hover {
    border-color: none;
    border: none;
    text-decoration: none;
}

.common-tabs-wrapper .nav-item.active .nav-link {
    /* font-family: 'Roboto-400'; */
    color: var(--fgi-lightblack3);
}

.common-tabs-wrapper .tab-content {
    padding-top: 24px;
    padding-bottom: 40px;
}


.common-tabs-wrapper .slick-track,
.types-insurance-wrapper .slick-track,
.tailored-plan-wrapper .slick-track,
.policy-steps .slick-track {
    display: flex !important;
}

.common-tabs-wrapper .slick-track .slick-slide,
.types-insurance-wrapper .slick-track .slick-slide,
.tailored-plan-wrapper .slick-track .slick-slide,
.policy-steps .slick-track .slick-slide {
    height: unset;
}

.common-tabs-wrapper .slick-track .slick-slide>div,
.types-insurance-wrapper .slick-track .slick-slide>div,
.tailored-plan-wrapper .slick-track .slick-slide>div,
.policy-steps .slick-track .slick-slide>div {
    height: 100%;
}

.types-insurance-wrapper .slick-track .slick-slide,
.policy-steps .slick-track .slick-slide {
    padding: 10px;
}

.types-insurance-wrapper .slick-track .slick-slide img {
    width: 100%;
}

.types-insurance-wrapper {
    overflow: hidden;
}

.types-insurance-wrapper .slick-slider {
    margin: 0 auto;
}

.plan-container-fluid .slick-track {
    padding-left: calc(100vw / 2 - (623px));
    padding-right: calc(100vw / 2 - (623px));
}

.plan-container-fluid .single-slide .slick-track {
    padding-left: 32px;
    padding-right: 32px;
}

.best-stageoption-wrapper .slick-list {
    padding: 70px 0px 0px 0px !important;
}

.best-stageoption-wrapper.no-slickinit {
    display: flex;
    /* flex-wrap: wrap; */
    padding-top: 60px;
}

.social-res-wrapper .slick-arrow {
    border: 1px solid var(--fgi-red);
    background: #ffdcd9 !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 50%;

}

.social-res-wrapper .slick-arrow.slick-disabled {
    background: rgb(251, 251, 251) !important;
    border: 1px solid #B0B2B3;
}

.social-res-wrapper .slick-arrow.slick-prev {
    left: 0px;
    background: var(--background-color);
    z-index: 5000;
}

.social-res-wrapper .slick-arrow.slick-next {
    right: 0px;
    background: var(--background-color);
    z-index: 5000;
}


.social-res-wrapper .slick-arrow.slick-prev::before,
.social-res-wrapper .slick-arrow.slick-next::before {
    content: '';
}

.social-res-wrapper .slick-arrow.slick-prev::before {
    content: '';
    border: solid var(--fgi-red);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 4px;
}

.social-res-wrapper .slick-arrow.slick-next::before {
    content: '';
    border: solid var(--fgi-red);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.social-res-wrapper .slick-arrow.slick-prev.slick-disabled::before {
    content: '';
    border: solid #B0B2B3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 4px;
}

.social-res-wrapper .slick-arrow.slick-next.slick-disabled::before {
    content: '';
    border: solid #B0B2B3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    /* margin-left: 4px; */
}

.types-insurance-wrapper .slick-arrow.slick-prev {
    left: calc(100vw / 2 - (634px));
}

.types-insurance-wrapper .slick-arrow.slick-next {
    right: calc(100vw / 2 - (634px));
}

.plp-tabs-wrapper .nav-tabs {
    max-width: 904px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.plp-tabs-wrapper .nav-item {
    width: 100%;
    text-align: center;
}

.plp-tabs-wrapper .nav-link {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Roboto-400';
    font-weight: 500;
    color: var(--text-grey2);
    /* margin: 0px 17px; */
    border: none;
    padding: 0px;
    cursor: pointer;
    /* border-bottom: 1px solid var(--fgi-red); */
}

.plp-tabs-wrapper .nav-tabs {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.plp-tabs-wrapper .nav-tabs::-webkit-scrollbar {
    display: none;
}



/* Rsuit slider common css */

.rsuit-main-wrapper .ages-and-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.rsuit-main-wrapper .ages-and-value p {
    font-size: 14px;
    line-height: 28px;
    font-family: 'Roboto-400';
    color: var(--fgi-black);
    margin-top: 0px;
}

.rsuit-main-wrapper .ages-and-value span {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto-300';
    color: var(--fgi-black);
    display: flex;
    border-bottom: 1px solid var(--fgi-bordergrey);
}

.rsuit-main-wrapper .ages-and-value span p {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto-500';
    color: var(--fgi-black);
    margin-top: 0px;
    margin-left: 4px;
}

.pre-amount-slider .rs-silder {
    margin: 10px 0px;
}

.rsuit-main-wrapper .rs-slider-progress-bar {
    background-color: var(--fgi-red);
}

.rsuit-main-wrapper .rs-slider-handle:before {
    background-color: var(--background-color);
    border: 2px solid var(--fgi-red);
    border-radius: 24px;
    content: "";
    cursor: pointer;
    height: 16px;
    margin-left: -6px;
    position: absolute;
    transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out, transform .15s ease-in-out;
    width: 22px;
    top: -2px;
}

.rsuit-main-wrapper .rs-slider-graduator>ol>li.rs-slider-pass:before {
    border-color: var(--fgi-red);
    border-color: var(--fgi-red);
}

.rs-months {
    display: flex;
    justify-content: space-between;
}

.rs-months span {
    font-size: 14px !important;
    line-height: 18px !important;
    font-family: 'Roboto-400' !important;
    color: var(--border-grey1) !important;

}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url('../public/images/Faqs/arrow.svg');
    background-size: 12px 7px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Common Form Group CSS */

.lead-form {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
    /* justify-content: center; */
}

.input-field {
    font-family: "Roboto-400";
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid var(--fgi-bordergrey);
    color: var(--fgi-black);
    padding: 2px 0;
    outline: none;
    width: 100%;
    background: none;
    font-weight: 400;
}

.input-field:focus {
    outline: none;
}

.input-field::placeholder {
    color: var(--placeholder-gray);
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto-300';
    font-weight: 300;
}

.form-group {
    position: relative;
    padding-bottom: 16px;
}

.form-group label {
    font-family: "Roboto-400";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-grey2);
    display: block;
    text-align: left;
    margin-bottom: 12px;
}

.form-group .error-msg {
    position: absolute;
    top: 64px;
    font-size: 12px;
    line-height: 12px;
    color: var(--fgi-red);
    display: none;
}

.form-group.error .error-msg {
    display: block;
}


/* Common Policy table css for PDP */

.policy-table {
    box-shadow: 0px 0px 22px 0px #1822BD12;
    border: 1px solid #D0CCD9;
}

.policy-table-header {

    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 80px;
}

.policy-table-title {
    background-color: var(--fgi-pink);
    font-size: 18px;
    line-height: 26px;
    font-family: 'Roboto-700';
    font-weight: 700;
    color: var(--fgi-black);
    padding: 8px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
}

.policy-table-title:not(:first-child),
.policy-table-title:not(:last-child) {
    margin: 0px 0.5px;
}

.policy-table-title:first-child {
    border-top-left-radius: 24px;
}

.policy-table-title:last-child {
    border-top-right-radius: 24px;
}

.policy-table-subtitle {
    text-align: center;
}

.policy-table-subtitle span {
    font-size: 12px;
    line-height: 16px;
    font-family: 'Roboto-400';
    color: var(--fgi-black);
}

.policy-income-loyalty-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fgi-pink);
    border-radius: 4px 4px 0px 0px;
}

.policy-income-loyalty-wrapper .policy-income-loyalty-main {
    width: 75%;
    border-left: 0.5px solid var(--background-color);
    border-bottom: 0.5px solid var(--background-color);
}

.policy-income-loyalty-main p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto-500';
    color: var(--fgi-black);
    text-align: center;
    padding-top: 16px;
    padding-bottom: 12px;
}


.policy-table-data {
    width: 100%;
}

.policy-table-details {
    display: flex;
    text-align: center;
}

.policy-table-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 16px 10px;
    border-right: 1px solid #F6F6F6;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto-400';
    font-weight: 400;
    color: var(--fgi-black);
}

.policy-table-cell:last-child {
    border-right: none;
}

/* Maturity Policy Table Css */

  .maturity-policy-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
  }
  
  .maturity-policy-table::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

.maturity-policy-table .policy-table-header .policy-table-title:first-child{
    margin-top: 0px;
    height: 100%;
}

.maturity-policy-table .policy-table-header .policy-table-title{
    align-items: flex-start;
}

/* Title Wrapper */
/* .policy-income-loyalty-wrapper {
    display: flex;
    background-color: #fff0f0;
  } */

.policy-income-blank {
    flex: 1;
}

.policy-income-loyalty-main {
    /* flex: 3; */
    padding: 12px;
    font-weight: bold;
    text-align: center;
    color: #aa0000;
}

.policy-table-data .policy-table-details:nth-child(odd) {
    background-color: #F6F6F6;
}


@media screen and (max-width: 991.2px) and (min-width: 320px) {

    /* common padding */
    .pd-t {
        padding-top: 24px;
    }

    .pd-b {
        padding-bottom: 24px;
    }

    .divider {
        margin: 0px 15px;
    }

    /* Common Button */

    .whiteBtn {
        padding: 10.5px 12px;
    }

    .redBtn {
        padding: 10.5px 12px;
    }

    .mob-redhref {
        font-size: 14px;
        line-height: 21px;
        /* text-decoration: underline; */
    }

    .mob-redArrowBtn {
        font-size: 14px;
        line-height: 21px;
        padding: 8px 16px;
    }

    .w-sm-100 {
        width: 100%;
    }


    .guide-btn {
        font-size: 14px;
        line-height: 16px;
        padding-left: 0px;
    }

    .guide-btn::after {
        top: 4px;
        right: -18px;
        width: 3px;
        height: 3px;
        border-width: 0 3px 3px 0;
        padding: 3px;
    }

    .guide-btn::before {
        width: 12px;
        height: 12px;
    }

    .guide-btn.active::before {
        border: 3px solid var(--text-grey2);
    }

    .guide-btn:not(:last-child) {
        padding-bottom: 8px;
    }

    .popupwhiteBtn,
    .popupredBtn {
        padding: 12px 24px;
    }

    /* Common links style css */

    .pdp-bannermain .react-select-container .react-select__control {
        background: transparent;
    }


    /* Common Input Field */
    .fgi-common-input {
        font-size: 12px;
        line-height: 16px;
        padding: 12px 16px;
    }

    /* common dropdown css */
    .common-dropdown .dropdown-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--fgi-lightpink);
        border: 1px solid var(--border-grey);
        border-radius: 24px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Roboto-400';
        color: var(--text-grey2);
        padding: 12px 16px;
    }

    .common-dropdown .dropdown-toggle::after {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-right: 5px;
        margin-bottom: 4px;
    }

    .common-dropdown .dropdown-toggle:active {
        color: var(--text-grey2);
        background-color: var(--fgi-lightpink);
        ;
        border-color: var(--border-grey);
    }

    .common-dropdown .dropdown-menu {
        width: 100%;
        top: 56px !important;
        border-radius: 16px;
        padding: 16px;
    }

    .common-dropdown .dropdown-menu button {
        font-size: 16px;
        line-height: 24px;
        font-family: 'Roboto-400';
        color: var(--text-grey2);
        border-bottom: 1px solid var(--border-grey);
        padding: 6px 0px;
    }

    .common-tabs-wrapper .tab-content {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .common-tabs-wrapper .slick-list {
        padding: 0px;
    }

    .common-tabs-wrapper .nav-tabs {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .common-tabs-wrapper .nav-item {
        padding: 10px 4px;
        width: 100%;
        text-align: center;
    }

    .common-tabs-wrapper .nav-tabs::-webkit-scrollbar {
        display: none;
    }

    .types-insurance-wrapper .slick-track .slick-slide {
        padding: 14px;
    }

    .best-stageoption-wrapper .slick-list {
        padding: 40px 0px 0px 0px !important;
    }

    .best-stageoption-wrapper.no-slickinit>div {
        /* display: flex;
        flex-wrap: wrap; */
        max-width: 160px;
    }



    .best-stageoption-wrapper.no-slickinit {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        justify-content: center;
        gap: 16px;
    }

    .types-insurance-wrapper.awards .slick-track .slick-slide {
        padding: 8px;
    }

    .social-res-wrapper .slick-arrow.slick-prev {
        left: 0px;
    }

    .social-res-wrapper .slick-arrow.slick-next {
        right: 0px;
    }

    .social-res-wrapper .slick-arrow {
        width: 24px;
        height: 24px;
    }

    .social-res-wrapper .slick-arrow.slick-prev::before {
        border-width: 0 2px 2px 0;
        padding: 3px;
    }

    .social-res-wrapper .slick-arrow.slick-next::before {
        border-width: 0 2px 2px 0;
        padding: 3px;
    }

    .plan-container-fluid .slick-track {
        padding-left: 0px;
        padding-right: 0px;
    }

    .plan-container-fluid .single-slide .slick-track {
        padding-left: 0px;
        padding-right: 0px;
    }


    /* common rsuit slider css */

    .rsuit-main-wrapper .rs-slider-handle:before {
        border: 1px solid var(--fgi-red);
        border-radius: 10px;
        height: 10px;
        margin-left: -6px;
        position: absolute;
        transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out, transform .15s ease-in-out;
        width: 18px;
        top: 0px;
    }

    .common-tabs-wrapper .nav-link {
        font-size: 14px;
        line-height: 18px;
    }

    /* Common Form Group CSS */

    .lead-form {
        flex-direction: column;
        gap: 0px;
    }

    .form-group {
        width: 100%;
    }

    /* Common Policy table css for PDP */

    /* .policy-income-loyalty-wrapper .policy-income-loyalty-main{
        width: 63.8%;
    } */

    .policy-table-header .policy-table-title:first-child {
        margin-top: -40px;
        height: 120px;
        text-align: center;
    }

    .policy-table-title {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Roboto-500';
        font-weight: 500;
    }

    .policy-table-subtitle span {
        font-size: 12px;
        line-height: 16px;
        font-family: 'Roboto-400';
    }

    .policy-income-loyalty-main p {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Roboto-500';
        font-weight: 500;
    }

    /* Policy Table CSS */

    .policy-table-cell {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Roboto-400';
    }

    /* .policy-table-details {
        display: flex;
        flex-direction: row;
    }

    .policy-table-cell:first-child {
        flex: 2;
    }

    .policy-table-cell:not(:first-child) {
        flex: 1;
       
    } */


}