
/* common styles  */

body{
    font-family: "Helvetica-400";
    background: var(--background-color);
}

.container {
    max-width: 1222px !important;
    width: 100%;
    margin: 0 auto;
}

.redBtn{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica-700';
    background: linear-gradient(180deg, #AF2219 0%, #C21B17 100%);
    color: var(--fgi-white);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 42px;
    display: inline-block;
    border: none;
}