/* common styles  */

body {
    font-family: "Helvetica-400";
    background: var(--background-color);
}

.container {
    max-width: 1222px !important;
    width: 100%;
    margin: 0 auto;
}

.redBtn {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica-700';
    background: linear-gradient(180deg, #AF2219 0%, #C21B17 100%);
    color: var(--background-color);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 42px;
    display: inline-block;
    border: none;
}

.redBtn:disabled{
    background: linear-gradient(180deg, #ffbfba 0%, #ff8280 100%);
}

.react-select-container .react-select__control {
    border-radius: 42px;
    border: 1px solid var(--border-grey);
    box-shadow: none;
    font-family: "Helvetica-400";
    font-size: 16px;
    line-height: 22.4px;
    padding: 12px 16px;
    padding-right: 32px;
}


.react-select-container .react-select__control:hover {
    border: 1px solid var(--border-grey);
}

.react-select-container .react-select__value-container,
.react-select-container .react-select__input-container{
    padding: 0;
    margin: 0;
}

.react-select-container .react-select__menu{
    border-radius: 16px;
    padding: 16px 12px 16px 16px;
}

.react-select-container .react-select__menu-list{
    max-height: 205px;
    overflow-x: hidden;
    /* margin-right: 6px; */
}

.react-select-container .react-select__menu .react-select__option{
    padding: 8px 0px;
    border-bottom: 1px solid var(--fgi-grey);
    margin-right: 10px;
    color: var(--text-grey2);
    font-size: 14px;
    line-height: 19px;
  
}

.react-select-container .react-select__menu .react-select__option--is-focused,
    .react-select-container .react-select__menu .react-select__option--is-selected{
    background-color: var(--fgi-grey);
}

/* .react-select-container .react-select__menu .react-select__option:hover{
    background-color: var(--fgi-grey);
}

.react-select-container .react-select__menu .react-select__option:active{
    background-color: var(--text-grey2);
} */


.dropdown-arrow .react-select-container .react-select__control::after {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    border: 2px solid var(--fgi-red);
    border-width: 0px 0px 2px 2px;
    top: 16px;
    right: 16px;
    transform: rotate(-45deg);
    transition: 0.2s;
}
 
.dropdown-arrow .react-select-container .react-select__control.react-select__control--menu-is-open::after {
    transform: rotate(135deg);
    top: 20px;
}

  ::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--fgi-grey); 
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--fgi-red); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--fgi-grey); 
  }