/* Define CSS variables in a :root pseudo-class for global scope */
:root {
    --fgi-red: #C21B17;
    --text-grey: #666666;
    --text-grey2: #6F7072;
    --background-color: #FFFFFF;
    --fgi-black: #20252B;
    --fgi-lightblack1: #0000000F;
    --fgi-lightblack2: #0000000A;
    --fgi-red1: #AF2219;
    --fgi-bordergrey: #CCCCCC;
    --fgi-borderlightgrey: #EBEBEB;
    --fgi-redcard: #FF4E4E4D;
    --border-grey: #D8D8D8;
    --fgi-borderdarkgrey: #16014333;
    --fgi-grey: #CAC7C7;
    --fgi-boxshadowgrey: #0000001A;
    --fgi-darkblack:#333333;
    --fgi-whitegray:#FFFFFF33;
    --fgi-faqShadow:#1822BD26;
    --fgi-faqTitle:#282D48;
}