/* Define CSS variables in a :root pseudo-class for global scope */
:root {
    --fgi-red: #C21B17;
    --fgi-darkred:#500402;
    --text-grey: #666666;
    --text-grey2: #6F7072;
    --background-grey: #F6F6F699;
    --background-color: #FFFFFF;
    --background-lightpink:#FFF6F6;
    --fgi-black: #20252B;
    --fgi-black2:#353535;
    --fgi-lightblack1: #0000000F;
    --fgi-lightblack2: #0000000A;
    --fgi-lightblack3: #000000DE;
    --fgi-red1: #AF2219;
    --fgi-bordergrey: #CCCCCC;
    --fgi-borderlightgrey: #EBEBEB;
    --fgi-redcard: #FF4E4E4D;
    --border-grey: #D8D8D8;
    --border-grey1:#B0B2B3;
    --border-lightgrey:#1601431A;
    --border-lightgrey1:#1601434D;
    --fgi-borderdarkgrey: #16014333;
    --fgi-grey: #CAC7C7;
    --fgi-boxshadowgrey: #0000001A;
    --fgi-boxshadowgrey1: #00000014;
    --fgi-darkblack:#333333;
    --fgi-whitegray:#FFFFFF33;
    --fgi-faqShadow:#1822BD26;
    --fgi-faqTitle:#282D48;
    --fgi-stats-bg:rgba(255, 255, 255, 0.5);
    --fgi-stats-bg-pink: rgba(247, 179, 179, 0.3);
    --fgi-popuptext:#7E7D7D;
    --fgi-green:#34C7594D;
    --fgi-darkgreen:#34C759;
    --fgi-lightgreen: #cbffd84d;
    --fgi-lightpink: #FFCEC61A;
    --timeline:#D0CCD9;
    --fgi-lightblue: #F9FCFF;
    --note-grey:#707070;
    --grad-red1:#AA1B17;
    --grad-red2:#500402;
    --fgi-pink:#FFDDDC;
    --table-grey:#F6F6F6;
    --inp-alt:#ffffff45;
    --footer-grey:#3D4047;
    --footer-contact:#FFFFFF1A;
    --placeholder-gray:#C9C9C9;
}